h1{
  font-style: oblique;
  font-family: fantasy;
}
body{
  background-color: green;
}
.new a{
  color: #912102;
}
@media screen and (min-width: 280px){
  body{
  background-color: solid pink;
  }
}
